.container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: visible;
}

@media (width >=800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0 20px;
  }

  .projectsContainer > * {
    flex: 0 0 calc(33.333% - 14px);
    max-width: calc(33.333% - 14px);
  }
}

@media (width >=1200px) {
  .projectsContainer {
    gap: 30px;
    padding: 0 10px;
  }

  .projectsContainer > * {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
  }
}
